.reverse-row-order{
    flex-direction:row-reverse;
}
@media screen and (max-width: 500px) {
  #products-in-distribution > li { display: none; }
}
.opt-out {
        background-color: rgba(0,0,0,0.1) !important;
        animation-name: fadeIn;
        animation-duration:150ms;
        animation-timing-function: ease;
}
.expand {
    display:none !important;
    }
.expand-error {
    display:none !important;
    }
.edit-hr {
    overflow: visible;
    text-align: center;
    }
.edit-hr:after {
    content: 'edit';
    padding: 0 4px;
    position: relative;
    top: -13px;
    }
#all-products-table {
    border-radius: 6px;
    }
.hover:hover {
    background-color: #D9DCD7 !important;
    }
.hover-alt:hover {
    background-color: #FFFFFF;
    }
.clickable {
    cursor: pointer;
    }
.nohover:hover {
    background-color: transparent;
    }
#small-info {
    font-size: 0.8em;
    }
.bordered {
    border: 0.1em solid #abaca9;
    border-radius: 6px;
    }
.bordered-dash {
    border: 0.1em dashed #abaca9 !important;
    border-radius: 6px !important;
    display: inline;
    padding: 0.4em;
    background-color: #f0ebef;
    }
.distribution-table {
    table-layout: fixed;
    border-collapse: collapse;
}
.distribution-table td {
    padding: 0.1em;
    }
.distribution-menu-box {
background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23333' stroke-width='1' stroke-dasharray='10%2c 66' stroke-dashoffset='50' stroke-linecap='square'/%3e%3c/svg%3e");
}
.menu-product-name {
	display: inline;
	text-decoration-line: underline;
}
.station-box-opt-out:hover {
  background-color: #f0ebef;
  border-radius: 7px;
}

/***** MODAL DIALOG ****/
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:15vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:700px;

	/* Display properties for visible dialog*/
	border-radius:18px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color: #fbfcfb;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Aniate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
}

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
}
