<script>
function distribute () {
    input_field = document.getElementById("dist-input-field")
    input = parseInt(input_field.value)

    stations_length = {{ stations|length }}
    members_total = {{ station_sums.total }}
    members_full = {{ station_sums.full }}
    members_half = {{ station_sums.half }}


    stations = {}
    {% for station in stations %}
      stations["{{ station.id }}"] = {
          "name": "{{station.name}}",
          "total_field" : document.getElementById("dist-station-total-{{ station.id }}"),
          "full_field"  : document.getElementById("dist-station-full-{{ station.id }}"),
          "half_field"  : document.getElementById("dist-station-half-{{ station.id }}"),
          "members_total" : {{ station.members_full + station.members_half }},
          "members_full"  : {{ station.members_full }},
          "members_half"  : {{ station.members_half }}
          }
    {% endfor %}

    all_get_the_same = input / members_total

    Object.values(stations).forEach(station => {
      station.full_field.value = all_get_the_same
      station.half_field.value = all_get_the_same
    })
}
</script>
