{% extends 'base.html' %}
{% from 'macros.html' import number_input %}
{% set title = product.name + ' verteilen' %}

{% block scripts %}
{% include 'products/distribute/dist.js.html' %}
{% endblock %}

{% block content %}
<h2 class="title is-5">{{ product.name }}</h2>
<ul>
  <li>Letzte Verteilung: {{ product.recent_distribution }}</li>
  <li>Aktuell verteilt: {{ product.amount }} {{ product.unit }}</li>
  <li>ID: {{ product.id }}</li>
  <li>unit: {{ product.unit }}</li>
  <li>info: {{ product.info }}</li>
</ul>

<div class="columns is-multiline" id="dist-stations-area">

<div class="column is-12">
<div class="columns">

  <div class="column is-4">{{ number_input(product.amount, label="Input", id="dist-input-field") }}</div>
  <div class="column is-4">
    <div class="rows">
      <div class="row">
        <button class="button"
                onclick="distribute('even')"
                >gleich</button>
      </div>
      <div class="row">
        <button class="button"
                onclick="distribute('half')"
                >halbe halb</button>
      </div>
      <div class="row">
        <button class="button"
                onclick="distribute('none')"
                >halbe nix</button>
      </div>
    </div>
  </div>
  <div class="column is-4">Rest: <p id="dist-rest-field"></p></div>

</div>
</div>

{% for station in stations %}

<div class="column is-4"
     id="dist-station-{{station.id}}">
<div class="box">

<div class="level">
  <div class="level-left">
    <div class="level-item">{{ station.name }}</div>
  </div>

  <div class="level-right" id="small-info">
    <div class="level-item">👥{{ station.members_full + station.members_half }}
    ● {{ station.members_full }}
    ◑ {{station.members_half }}</div>
  </div>
</div>

{# share for all station members #}
<div class="columns">
 <div class="column is-4">
   <p id="dist-station-total-{{ station.id }}">/</p>
   <p>👥</p>
 </div>
 <div class="column is-4">
  {{ number_input("", label="●", id="dist-station-full-" ~ station.id ) }}
 </div>
 <div class="column is-4">
  {{ number_input("", label="◑", id="dist-station-half-" ~ station.id ) }}
 </div>
</div>

{# share of a single member #}
<div class="columns">
  <div class="column">
    <div class="level">
       <div class="level-left">
         <div class="level-item">●</div>
         <div class="level-item"><p id="dist-station-single-full-{{ station.id }}"></p></div>
       </div>
       <div class="level-right">
         <div class="level-item"><p id="dist-station-single-half-{{ station.id }}"></p></div>
         <div class="level-item">◑</div>
       </div>
    </div>
  </div>
</div>


</div>{# box #}
</div>{# column #}
{% endfor %}

</div>

{% endblock %}
