{% extends 'base.html' %}
{% from 'macros.html' import number_input %}
{% set title = product.name + ' verteilen' %}
{% block content %}
<h2 class="title is-5">{{ product.name }}</h2>
<ul>
  <li>Letzte Verteilung: {{ product.recent_distribution }}</li>
  <li>Aktuell verteilt: {{ product.amount }} {{ product.unit }}</li>
  <li>ID: {{ product.id }}</li>
  <li>unit: {{ product.unit }}</li>
  <li>info: {{ product.info }}</li>
</ul>

<div class="columns is-multiline" id="dist-stations-area">

<div class="column is-12">
<div class="columns">

        <div class="column is-4">{{ number_input(product.amount, label="Input", id="dist-input-field") }}</div>
        <div class="column is-4">
                        <button class="button"
                                onclick="distribute()">Push me to distribute via Javascript</button></div>
        <div class="column is-4">Rest: <p id="dist-rest-field"></p></div>


</div>
</div>

<script>
function distribute () {
    input_field = document.getElementById("dist-input-field")
    input = parseInt(input_field.value)

    stations_length = {{ stations|length }}

    {% for station in stations %}
    station_total_{{station.id}} = document.getElementById("dist-station-total-{{station.id}}")
    station_full_{{station.id}} = document.getElementById("dist-station-full-{{station.id}}")
    station_half_{{station.id}} = document.getElementById("dist-station-half-{{station.id}}")

    station_members_full = {{ station.members_full }}
    station_members_half = {{ station.members_half }}
    station_members_total = {{ station.members_total }}
    {% endfor %}


    output_field_one.value = input_field_value / 3

    rest = input_field_value - output_field_one.value

    output_field_two.value = rest
}
</script>




{% for station in stations %}

<div class="column is-4"
     id="dist-station-{{station.id}}">
<div class="box">

<div class="level">

  <div class="level-left">
    <div class="level-item">{{ station.name }}</div>
  </div>

  <div class="level-right" id="small-info">
    <div class="level-item">👥{{ station.members_full + station.members_half }}
    ● {{ station.members_full }}
    ◑ {{station.members_half }}</div>
  </div>

</div>

<div class="columns">
 <div class="column">
  {{ number_input("", label="●", id="dist-station-full-" ~ station.id ) }}
 </div>
 <div class="column">
  {{ number_input("", label="◑", id="dist-station-half-" ~ station.id ) }}
 </div>
 <div class="column">
  {{ number_input("", label="👥", id="dist-station-total-" ~ station.id ) }}
 </div>
</div>


</div>{# box #}
</div>{# column #}
{% endfor %}

</div>
{% endblock %}
