<script>
function distribute (option) {
    input_field = document.getElementById("dist-input-field")
    unit = {{ product.unit_type }}
    input = parseFloat(input_field.value)

    members_total = {{ station_sums.total }}
    members_full = {{ station_sums.full }}
    members_half = {{ station_sums.half }}

    stations = {}
    {% for station in stations %}
      stations["{{ station.id }}"] = {
          "name": "{{station.name}}",
          "total_field" : document.getElementById("dist-station-total-{{ station.id }}"),
          "full_field"  : document.getElementById("dist-station-full-{{ station.id }}"),
          "half_field"  : document.getElementById("dist-station-half-{{ station.id }}"),
          "single_full_field" : document.getElementById("dist-station-single-full-{{ station.id }}"),
          "single_half_field" : document.getElementById("dist-station-single-half-{{ station.id }}"),
          "members_total" : {{ station.members_full + station.members_half }},
          "members_full"  : {{ station.members_full }},
          "members_half"  : {{ station.members_half }}
          }
    {% endfor %}
    if (option == "even") {divisor = 1}
    if (option == "half") {divisor = 0.5}
    if (option == "none") {divisor = 0}

    dist(input, members_full, members_half, divisor)
    return true
}

function dist (input, m_full, m_half, divisor) {

    single_value = input / ( m_full + (m_half * divisor) )
    single_value = round(single_value, 5)

    Object.values(stations).forEach(station => {
      station.single_full_field.textContent = +single_value.toFixed(3)
      station.single_half_field.textContent = +(single_value*divisor).toFixed(3)

      station_full = round(single_value * station.members_full, 5)
      station.full_field.value = +station_full.toFixed(3)

      station_half = round(single_value * station.members_half * divisor, 5)
      station.half_field.value = +station_half.toFixed(3)

      station.total_field.textContent = +(station_full + station_half).toFixed(3)
    })
}

function round(value, decimals) {
  return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
}
</script>
