{% extends 'base.html' %}
{% set title = 'Einstellungen' %}
{% block content %}

<div class="columns is-multiline is-centered">
  <div class="column is-half">
    <form action="{{ url_for('settings.settings_view') }}" method="post" class="form">

      {{ form.csrf_token }}

      {{ form.name.label() }}
      {{ form.name }}
      {{ form.footer.label() }}
      {{ form.footer }}

      <button class="button is-link" type="submit">Go!</button>
    </form>
  </div>
  <div class="column is-half" id="units-div">
    <button class="button is-link"
            hx-get="{{ url_for('settings.add_unit') }}"
            hx-target="body"
            hx-swap="beforeend"
            id="new-unit-button"
            >neue Einheit</button>
    <table class="table is-hoverable is-fullwidth"
           id="all-units-table">
      <thead>
        <th class="hover has-text-centered">Langname</th>
        <th class="hover has-text-centered">Abkürzung</th>
        <th class="hover has-text-centered">In stück</th>
      </thead>
      <tbody>
        {% for unit in units %}
        <tr id="unit-{{unit.id}}">
         <td>{{unit.longname}}</td>
         <td>{{unit.shortname}}</td>
         <td>{% if unit.by_piece %}PP{% else %}WGHT{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock content %}
