{% from 'macros.html' import modal with context %}

{% extends 'base.html' %}

{% set title = 'Einstellungen' %}

{% block content %}
<div class="columns is-multiline is-centered">
  <div class="column is-half">
    <div class="title">Einstellungen</div>
    <form action="{{ url_for('settings.settings_view') }}"
          method="POST"
          class="form"
          id="settings-form">

      {{ form.csrf_token }}
    <div class="field">
      {{ form.name.label("Betriebsname") }}
      {{ form.name(placeholder="Erscheint auch auf Lieferschein", class_="input") }}
    </div>

    <div class="field">
      {{ form.footer.label("Grußzeile auf Lieferschein") }}
      {{ form.footer(placeholder="Wird unten auf den Lieferschein gedruckt", class_="input") }}
    </div>

      <button class="button is-link" type="submit">Änderungen speichern</button>
    </form>
  </div>

  <div class="column is-half" id="units-div">
    <div class="title">Einheiten</div>
    <button class="button is-link is-pulled-right"
            hx-get="{{ url_for('settings.add_unit') }}"
            hx-target="body"
            hx-swap="beforeend"
            id="new-unit-button"
            >neue Einheit</button>
    <table class="table is-fullwidth"
           id="all-units-table">
      <col style="width:50%">
      <col style="width:20%">
      <col style="width:15%">
      <col style="width:15%">
      <thead>
        <th class="has-text-left pl-5">Langname</th>
        <th class="has-text-centered">Abkürzung</th>
        <th class="has-text-centered">Stück/Gewicht</th>
      </thead>
      <tbody>
        {%- for unit in units -%}
          <tr id="unit-{{unit.id}}"
              class="unit-row">
            <td class="has-text-left pl-5">{{unit.longname}}</td>
            <td class="has-text-centered">{{unit.shortname}}</td>
            <td class="has-text-centered">
              {%- if unit.by_piece -%}
                <img src="{{url_for('static', filename='icons/per_piece.svg') }}"
                     alt="per_piece"
                     width=20
                      />
              {%- else -%}
                <img src="{{url_for('static', filename='icons/per_weight.svg') }}"
                     alt="per_weight"
                     width=20
                      />
              {%- endif -%}
            </td>
            <td class="hover has-text-centered">
              <a class="edit-unit"
                 {{ modal(url_for("settings.edit_unit", unit_id=unit.id)) }}
                 >
               <div style="height:100%;width:100%">
                  <img src="{{url_for('static', filename='icons/edit.svg')}}"
                       width=18
                       alt="edit-icon" />
                 </div>
              </a>
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>

</div>

{% endblock content %}
