{% extends 'base.html' %}
{% set title = 'Organisationsdetails anlegen' %}
{% block setup_content %}

<div class="columns is-multiline is-centered">
  <div class="column is-half">
    <form action="{{ url_for('settings.add_organisation') }}"
          id="new-organisation-form"
          method="post"
          class="form">

      {{ form.csrf_token }}

    <div class="field">
      {{ form.name.label("Betriebsname") }}
      {{ form.name(placeholder="Erscheint auch auf Lieferschein", class_="input") }}
    </div>

    <div class="field">
      {{ form.footer.label("Grußzeile auf Lieferschein") }}
      {{ form.footer(placeholder="Wird unten auf den Lieferschein gedruckt", class_="input") }}
    </div>

      <button class="button is-link" type="submit">Go!</button>
    </form>
  </div>
</div>

{% endblock setup_content %}
