{% extends 'base.html' %}
{% set title = 'Organisationsdetails anlegen' %}
{% block content %}

<div class="columns is-multiline is-centered">
  <div class="column is-half">
    <form action="{{ url_for('settings.add_organisation') }}"
          id="new-organisation-form"
          method="post"
          class="form">

      {{ form.csrf_token }}

      {{ form.name.label() }}
      {{ form.name }}
      {{ form.footer.label() }}
      {{ form.footer }}

      <button class="button is-link" type="submit">Go!</button>
    </form>
  </div>
</div>

{% endblock content %}
