<div class="columns mt-2 is-centered">
<div class="column is-8 has-text-centered">

  <form action="{{ form_url }}"
        method="POST"
        class="form">
    {{ form.csrf_token }}
    <div class="field">
      {{ form.longname.label("Name der Einheit", class_="label") }}
      {{ form.longname(placeholder="zbsp: Kilogramm / Kisten / Stück / Bund / Gramm", class_="input") }}
    </div>

    <div class="field">
      {{ form.shortname.label("Kurzname der Einheit", class_="label") }}
      {{ form.shortname(placeholder="zbsp: kg/ kst / st / bnd / g", class_="input") }}
    </div>

    <div class="field">
      {% for subfield in form.by_piece %}
        {{ subfield }}
        {{ subfield.label(class_="radio") }}
      {% endfor %}
    </div>
    <div class="has-text-centered">
      <button class="button is-link" type="submit">Go!</button>
    </div>
  </form>
</div>
</div>
