<div class="is-pulled-right">
<form id="add-distribution-info-form"
      method="POST"
      action="{{url_for('distribution.add_distribution_info')}}">
  <div class="field has-addons">
    <div class="control">
      <input  id="add-distribution-info-input"
              type="text"
              placeholder="info für diese verteilung"
              class="input"
              {%- if dist_info -%}
              value="{{dist_info}}"
              {%- endif -%}
              name="info"/>
    </div>
    <div class="control">
      <button class="button is-info"
              id="add-distribution-info-submit-button"
              type="submit"
              hx-post="{{url_for('distribution.add_distribution_info')}}"
              hx-target="#add-distribution-info"
              hx-swap="innerHTML"
              >info speichern</button>
    </div>
    <div class="control">
      <a class="button is-info is-light"
              id="add-distribution-info-abort-button"
              type="submit"
              hx-params="clear"
              hx-post="{{url_for('distribution.add_distribution_info')}}"
              hx-target="#add-distribution-info"
              hx-swap="innerHTML"
              >x</a>
    </div>
  </div>
</form>
</div>
