{% extends 'modal.html' %}
{% block modal_content %}
<div class="columns is-centered is-multiline">
  <div class="column is-full has-text-centered">
    <p><small>sicher die verteilung abbrechen?</small></p>
  </div>
  <div class="column is-half has-text-centered">
    <form id="form-stop-distribution"
      method="POST"
      action="{{ url_for('distribution.trigger') }}">
      <button id="stop-distribution"
      class="button is-warning"
      name="distribution"
      type="submit"
      value="stop"
      >Verteilung stoppen</button>
    </form>
  </div>
</div>
{% endblock modal_content %}
