<script>

const rest_field = document.getElementById("dist-rest-field")
const accuracy_field = document.getElementById("dist-accuracy-field")
const input_field = document.getElementById("dist-input-field")
const stations = {}
const error_div = document.getElementById("dist-error-div")
const error_field = document.getElementById("dist-error-field")
var distribution_started = false

{% for station in stations %}

single_full_field = document.getElementById("dist-station-single-full-{{ station.id }}")
single_half_field = document.getElementById("dist-station-single-half-{{ station.id }}")

stations["{{ station.id }}"] = {
    "name": "{{station.name}}",
    "total_field" : document.getElementById("dist-station-total-{{ station.id }}"),
    "full_field"  : document.getElementById("dist-station-full-{{ station.id }}"),
    "half_field"  : document.getElementById("dist-station-half-{{ station.id }}"),
    "single_full_field" : single_full_field,
    "single_half_field" : single_half_field,
    "members_total" : {{ station.members_full + station.members_half }},
    "members_full"  : {{ station.members_full }},
    "members_half"  : {{ station.members_half }}
    }
{% endfor %}

function toggle_buttons (option) {
      let buttons = document.getElementsByClassName("dist-button-toggle")
      for (let button of buttons) {
        button.classList.remove("is-primary")
        button.classList.add("is-link")
      }
      document.getElementById("dist-button-"+option).classList.remove("is-link")
      document.getElementById("dist-button-"+option).classList.add("is-primary")
}


function send_error(message) {
      error_field.textContent = message
      error_div.classList.toggle("expand")
      setTimeout(() => {
        error_div.classList.toggle("expand")
        }, 3000)
}


function change_station(station_id, type, x) {
    // type = "full"/"half"

    if (!distribution_started) { return send_error("Bitte erst Ernte verteilen"); }
    let id_name = ["dist","station","single",type,station_id].join("-")
    let station = stations[station_id]
    // single full/half share of stationID
    let field = document.getElementById(id_name)

    let current_single_value = parseInt(field.textContent)

    if (x == "add") { bohren_und_der_club_of_gore = 1 }
    if (x == "remove") { bohren_und_der_club_of_gore = -1 }

    let members = parseInt(station['members_'+type])
    let change = members * bohren_und_der_club_of_gore
    let new_single_value = current_single_value + bohren_und_der_club_of_gore

    let members_field = station[type+'_field']
    let rest_o = parseInt(rest_field.textContent)
    let rest_new = rest_o - change

    // sanity checks
    if (new_single_value < 0) {return}
    if (rest_new < 0) {return}

    // change display for all shares of station
    rest_field.textContent = rest_new
    field.textContent = new_single_value
    let members_field_value = parseInt(members_field.textContent)
    members_field.textContent = members_field_value + change
    station.total_field.textContent = parseInt(station.full_field.textContent) + parseInt(station.half_field.textContent)
}


function distribute (option) {
    input = parseFloat(input_field.value)
    if (!input) { return send_error("Keine Ernte angegeben?!") }

    toggle_buttons(option)

    if (option == "even") {divisor = 1}
    if (option == "half") {divisor = 0.5}
    if (option == "none") {divisor = 0}

    by_piece = {% if product.unit.by_piece %}true{% else %}false{% endif %}

    members_total = {{ station_sums.total }}
    members_full = {{ station_sums.full }}
    members_half = {{ station_sums.half }}



    if (by_piece) {
      dist_by_piece(input, members_full, members_half, divisor)
    } else {
      dist_by_weight(input, members_full, members_half, divisor)
    }

    distribution_started = true
    return true
}

function dist_by_piece (input, m_full, m_half, divisor) {

    single_value = input / ( m_full + (m_half * divisor) )
    single_value = Math.floor(single_value)
    half_value   = Math.floor(single_value*divisor)

    rest = input - ( (single_value * m_full) + (half_value * m_half) )

    Object.values(stations).forEach(station => {

      station_full = single_value * station.members_full
      station_half = half_value * station.members_half

      station.single_full_field.textContent = single_value
      station.single_half_field.textContent = half_value

      station.full_field.textContent = station_full
      station.half_field.textContent = station_half

      station.total_field.textContent = station_full + station_half

      rest_field.textContent = rest
    })
}

function dist_by_weight (input, m_full, m_half, divisor ) {

    let round_int = 5
    let single_value = input / ( m_full + (m_half * divisor) )
    single_value = round(single_value, round_int)
    let half_value = round(single_value*divisor, round_int)


    Object.values(stations).forEach(station => {

      station_full = round(single_value * station.members_full, round_int)
      station_half = round(single_value * station.members_half * divisor, round_int)

      station.single_full_field.textContent = +single_value.toFixed(2)
      station.single_half_field.textContent = +(single_value*divisor).toFixed(2)

      station.full_field.textContent = +station_full.toFixed(1)
      station.half_field.textContent = +station_half.toFixed(1)

      station.total_field.textContent = +(station_full + station_half).toFixed(1)
    })

    let accuracy = get_accuracy()
    accuracy_field.textContent = +accuracy.toFixed(5)

}

function round(value, decimals) {
  return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
}

function get_accuracy() {
  let sum_d = 0
  Object.values(stations).forEach(station => { sum_d += parseFloat(station.total_field.textContent) })
  sum_d = round(sum_d, 5)
  return parseFloat(input_field.value) - sum_d
}

</script>
