{% extends 'base.html' %}
{% from 'macros.html' import number_input %}
{% set title = product.name + ' verteilen' %}

{% block scripts %}
{% include 'distribution/dist.js.html' %}
{% endblock %}

{% block content %}

<div class="columns is-multiline" id="dist-stations-area">

  {# Info #}
  <div class="column is-full">
    <div class="level">
      {% if product.last_distribution %}
      <div class="level-left">
        <div class="level-item">zuletzt</div>
        <div class="level-item">📅: {{ product.last_distribution }}</div>
      </div>
      {% endif %}
      {% if product.info %}
      <div class="level-right">

        <div class="level-item">🛈 {{ product.info }}</div>

      </div>
      {% endif %}
    </div>
  </div>

  {# error and message for dist.js script #}
  <div class="column expand" id="dist-error-div">
    <div class="columns is-centered">
      <div class="column is-half bordered has-text-centered has-background-danger has-text-black" id="dist-error-field"></div>
    </div>
  </div>
  <div class="column expand" id="dist-message-div">
    <div class="columns is-centered">
      <div class="column is-half bordered has-text-centered has-background-light has-text-black" id="dist-message-field"></div>
    </div>
  </div>

  {# Verteilung Input and Rest #}
  <div class="column is-full">

    <div class="columns is-mobile is-centered is-multiline">

      <div class="column is-one-third-desktop is-full-mobile">
        <div class="columns is-mobile is-centered">
          <div class="column is-half is-half-mobile has-text-centered">
            <input type="number"
                   class="input"
                   value="{{ product.amount }}"
                   id="dist-input-field"
                   />
            <label for="dist-input-field"
                  class="label">Ernte <small>( in {{ unit.longname }} )</small></label>
          </div>
        </div>
      </div>

      {# buttons #}
      <div class="column is-one-third-desktop is-full-mobile">

        {# add or overwrite buttons #}
        {% if already_distributed %}
        <div class="row">
          <div class="column is-full">
            <p>{{ product.name }} wurde schon verteilt!</p>
            <p>Zusätzlich verteilen oder komplett überschreiben?</p>
          </div>
          <div class="field is-grouped is-grouped-centered mb-2">
            <div class="control">
              <label class="radio button">
                <input type="radio"
                       name="additional_distribution"
                       id="overwrite-distribution-input"
                       value="false"
                       >
                  überschreiben
              </label>
              <label class="radio button">
                <input type="radio"
                       name="additional_distribution"
                       id="additional-distribution-input"
                       value="true"
                       checked
                       >
                  zusätzlich
              </label>
            </div>
          </div>
        </div>
        {% endif %}

        {# distribute buttons #}
        <div class="row">
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button class="button is-link dist-button-toggle"
                      id="dist-button-even"
                      onclick="distribute('even')"
                      >gleich</button>
            </div>
            <div class="control">
              <button class="button is-link dist-button-toggle"
                      id="dist-button-half"
                      onclick="distribute('half')"
                      >halbe halb</button>
            </div>
            <div class="control">
              <button class="button is-link dist-button-toggle"
                      id="dist-button-none"
                      onclick="distribute('none')"
                      >halbe nix</button>
            </div>
          </div>
        </div>

      </div>

      {# rest #}
      <div class="column is-one-third-desktop is-half-mobile">
        <div class="columns is-centered">
          <div class="column is-4 has-text-centered bordered">
            {% if unit.by_piece %}
            <div class="row is-size-4">Rest</div>
            <div class="row"><p class="is-size-3" id="dist-rest-field">𐄂</p></div>
            {% else %}
            <div class="row is-size-4">Rest</div>
            <div class="row"><p class="is-size-3" id="dist-accuracy-field">𐄂</p></div>
            {% endif %}
          </div>
        </div>
      </div>
      </div>

    <div class="columns">
      <div class="column">
      <button class="button is-primary"
              id="save-button"
              onclick="save_data()"
              disabled>Speichern</button>
      </div>
    </div>

    </div>

  {# station boxes #}
  {% for station in stations %}
    {% include 'distribution/station_box.html' %}
  {% endfor %}

</div>

{% endblock %}
