<script>

const rest_field = document.getElementById("dist-rest-field")
const accuracy_field = document.getElementById("dist-accuracy-field")
const input_field = document.getElementById("dist-input-field")
const stations = {}
const error_div = document.getElementById("dist-error-div")
const error_field = document.getElementById("dist-error-field")
const message_div = document.getElementById("dist-message-div")
const message_field = document.getElementById("dist-message-field")
const save_button = document.getElementById("save-button")
var distribution_started = false

{% for station in stations %}

single_full_field = document.getElementById("dist-station-single-full-{{ station.id }}")
single_half_field = document.getElementById("dist-station-single-half-{{ station.id }}")

stations["{{ station.id }}"] = {
    "name": "{{station.name}}",
    "id": {{ station.id }},
    "total_field" : document.getElementById("dist-station-total-{{ station.id }}"),
    "full_field"  : document.getElementById("dist-station-full-{{ station.id }}"),
    "half_field"  : document.getElementById("dist-station-half-{{ station.id }}"),
    "single_full_field" : single_full_field,
    "single_half_field" : single_half_field,
    "members_total" : {{ station.members_total }},
    "members_full"  : {{ station.members_full }},
    "members_half"  : {{ station.members_half }}
    }
{% endfor %}

function toggle_buttons (option) {
      let buttons = document.getElementsByClassName("dist-button-toggle")
      for (let button of buttons) {
        button.classList.remove("is-primary")
        button.classList.add("is-link")
      }
      document.getElementById("dist-button-"+option).classList.remove("is-link")
      document.getElementById("dist-button-"+option).classList.add("is-primary")
}


function send_error(message) {
      error_field.textContent = message
      error_div.classList.toggle("expand")
      setTimeout(() => {
        error_div.classList.toggle("expand")
        }, 3000)
}


function change_station(station_id, type, x) {
    // type = "full"/"half"

    if (!distribution_started) { return send_error("Bitte erst Ernte verteilen"); }
    let id_name = ["dist","station","single",type,station_id].join("-")
    let station = stations[station_id]
    // single full/half share of stationID
    let field = document.getElementById(id_name)

    let current_single_value = parseInt(field.textContent)

    if (x == "add") { bohren_und_der_club_of_gore = 1 }
    if (x == "remove") { bohren_und_der_club_of_gore = -1 }

    let members = parseInt(station['members_'+type])
    let change = members * bohren_und_der_club_of_gore
    let new_single_value = current_single_value + bohren_und_der_club_of_gore

    let members_field = station[type+'_field']
    let rest_o = parseInt(rest_field.textContent)
    let rest_new = rest_o - change

    // sanity checks
    if (new_single_value < 0) {return}
    if (rest_new < 0) {return}

    // change display for all shares of station
    rest_field.textContent = rest_new
    field.textContent = new_single_value
    let members_field_value = parseInt(members_field.textContent)
    members_field.textContent = members_field_value + change
    station.total_field.textContent = parseInt(station.full_field.textContent) + parseInt(station.half_field.textContent)
}


function calculate_station_sums(chosen_stations) {

    let station_sums = {"full": 0, "half": 0, "total": 0}

    Object.values(chosen_stations).forEach(station => {

      station_sums.full += station.members_full
      station_sums.half += station.members_half
      station_sums.total += station.members_total

      })

    return station_sums
}

function get_unchosen_stations() {

    unchosen_stations = []
    opt_out = document.getElementsByClassName("opt-out")
    for (var i=0; i<opt_out.length; i++){
      unchosen_stations.push(opt_out[i].id)
      }


    return unchosen_stations

}
function set_station_to_zero(station) {
    save_button.disabled = true
    station.total_field.textContent = "X"
    station.single_full_field.textContent = "X"
    station.single_half_field.textContent = "X"
}
function set_station_to_active(station){
    save_button.disabled = true
    station.total_field.textContent = "0"
    station.single_full_field.textContent = "0"
    station.single_half_field.textContent = "0"
}

function distribute (option) {
    input = parseFloat(input_field.value)
    if (!input) {
    save_button.disabled = true
    return send_error("Keine Ernte angegeben?!") }

    save_button.disabled = false
    toggle_buttons(option)

    if (option == "even") {divisor = 1}
    if (option == "half") {divisor = 0.5}
    if (option == "none") {divisor = 0}

    by_piece = {% if unit.by_piece %}true{% else %}false{% endif %}


    unchosen_stations = get_unchosen_stations()

    chosen_stations = {}

    for (let key in stations) {
    <!-- if the station is to be distributed to, it gets added to chosen_stations -->
      if (!unchosen_stations.includes(key)) {
        chosen_stations[key] = stations[key]
    <!-- if the station is not to be distributed, it's values get set to 0 -->
      } else {
        set_station_to_zero(stations[key])
      }
    }

    if (Object.entries(chosen_stations).length == 0) {
      save_button.disabled = true
      return send_error("Keine Station ausgewählt")
    }


    let station_sums = calculate_station_sums(chosen_stations)
    let members_total = station_sums.total
    let members_full = station_sums.full
    let members_half = station_sums.half



    if (by_piece) {
      dist_by_piece(input, members_full, members_half, divisor)
    } else {
      dist_by_weight(input, members_full, members_half, divisor)
    }

    distribution_started = true
    save_button.disabled = false
    return true
}

function dist_by_piece (input, m_full, m_half, divisor) {

    single_value = input / ( m_full + (m_half * divisor) )
    single_value = Math.floor(single_value)
    half_value   = Math.floor(single_value*divisor)

    rest = input - ( (single_value * m_full) + (half_value * m_half) )

    Object.values(chosen_stations).forEach(station => {

      station_full = single_value * station.members_full
      station_half = half_value * station.members_half

      station.single_full_field.textContent = single_value
      station.single_half_field.textContent = half_value

      station.full_field.textContent = station_full
      station.half_field.textContent = station_half

      station.total_field.textContent = station_full + station_half

      rest_field.textContent = rest
    })
}

function dist_by_weight (input, m_full, m_half, divisor ) {

    let round_int = 5
    let single_value = input / ( m_full + (m_half * divisor) )
    single_value = round(single_value, round_int)
    let half_value = round(single_value*divisor, round_int)


    Object.values(chosen_stations).forEach(station => {

      station_full = round(single_value * station.members_full, round_int)
      station_half = round(single_value * station.members_half * divisor, round_int)

      station.single_full_field.textContent = +single_value.toFixed(2)
      station.single_half_field.textContent = +(single_value*divisor).toFixed(2)

      station.full_field.textContent = +station_full.toFixed(1)
      station.half_field.textContent = +station_half.toFixed(1)

      station.total_field.textContent = +(station_full + station_half).toFixed(1)
    })

    let accuracy = get_accuracy()
    accuracy_field.textContent = +accuracy.toFixed(5)

}

function round(value, decimals) {
  return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
}

function get_accuracy() {
  let sum_d = 0
  Object.values(chosen_stations).forEach(station => { sum_d += parseFloat(station.total_field.textContent) })
  sum_d = round(sum_d, 5)
  return parseFloat(input_field.value) - sum_d
}

function save_data() {

    let data = build_save_data()
	let post_data = JSON.stringify(data)
	let dataReceived = ""

    fetch("{{ url_for('distribution.save') }}", {
        method:"post",
        headers:{"Content-Type":"application/json"},
        body: post_data
        }
    ).then(resp => {
        if (resp.status === 200) {
          save_button.disabled = true
          message_field.textContent = "gespeichert!"
          message_div.classList.toggle("expand")
        } else {
          console.log("Status: " + resp.status)
        }
})
.catch(err => {
        if (err === "server") return
        console.log(err)
});
}
function send_message(message) {
      save_button.disabled = true
      message_field.textContent = message
      message_div.classList.toggle("expand")
      setTimeout(() => {
        save_button.disabled = false
        message_div.classList.toggle("expand")
        }, 2000)
}
function build_save_data() {

  var post_data = []

  additional_distribution = false
  try {
      checkmark = document.getElementById("additional-distribution-input").checked
      additional_distribution = checkmark
  } catch (TypeError) {
  }

  Object.values(chosen_stations).forEach(station => {

    let data = {}

    data.product_id = {{ product.id }}
    data.unit_id = {{ unit.id }}
    data.stationhistory_id = station.id

    data.single_full = +station.single_full_field.textContent
    data.single_half = +station.single_half_field.textContent

    data.sum_full = data.single_full * station.members_full
    data.sum_half = data.single_half * station.members_half

    data.additional_distribution = additional_distribution
    post_data.push(data)
  })

  return post_data

}

function trigger_station_opt_out(elem) {
  let box = elem.parentElement.parentElement.parentElement
  box.classList.toggle("opt-out")

  <!-- hidden input to check the state -->
  let checkbox = box.getElementsByClassName("station-is-opted-out-checkbox")[0]
  checkbox.checked = !checkbox.checked

  <!-- disable buttons -->
  let buttons = box.querySelectorAll(".dist-control-button");
  buttons.forEach(button => {
    button.toggleAttribute("disabled");
  })

  <!-- switch icons -->
  let icons = box.getElementsByClassName("opt-out-icon")
  for (let icon of icons) {
    icon.classList.toggle("expand")
  }

  if (checkbox.checked) { set_station_to_zero(stations[box.id]) }
  else { set_station_to_active(stations[box.id]) }

}
</script>
