{% from 'macros.html' import modal with context %}
{% extends 'base.html' %}
{% set title = 'Verteilung' %}
{% block content %}

<p>gestartet:</p><p id="info-dist-started"><small>{{ dist.created }}</small></p>

<div class="columns">

  <div class="column is-10">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <td>name</td>
        <td>verteilt</td>
        <td>durchschnitt einzeln ganz</td>
        <td>durchschnitt einzeln halb</td>
        <td>details</td>
      </thead>

    {% for product in data %}
      <tr id="overview-{{product.product_id}}">
        <td>{{product.name}} <small>in {{product.unit_name}}</small></td>
        <td>{{product.total_sum|round(2,"floor")}}</td>
        <td>{{product.single_full_average}}</td>
        <td>{{product.single_half_average}}</td>
        <td><button class="button"
            id="detail_view"
            {{ modal(url_for('history.product_detail_view', distribution_id=dist.id, product_id=product.product_id, unit_id=product.unit_id )) }}
          >detail</button></td>
      </tr>
    {% endfor %}
    </table>
  </div>

</div>




<a {{ modal(url_for('distribution.confirm_stop_modal') ) }}
    href="{{ url_for('distribution.confirm_stop_modal') }}">
  <button class="button is-small"
        id="stop-distribution-modal"
        >Verteilung stoppen</button>
</a>
{% endblock content%}
