{% extends 'base.html' %}
{% set title = 'Verteilung' %}
{% block content %}

<p>gestartet:</p><p id="info-dist-started"><small>{{ dist.created }}</small></p>

<div class="columns">

  <div class="column is-10">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <td>name</td>
        <td>verteilt</td>
        <td>einzeln ganz</td>
        <td>einzeln halb</td>
      </thead>

    {% for entry in data %}
      <tr id="overview-{{entry.id}}">
        <td>{{entry.name}}</td>
        <td>{{entry.total_sum|round(2,"floor")}}</td>
        <td>{{entry.single_full_average}}</td>
        <td>{{entry.single_half_average}}</td>
      </tr>

    {% endfor %}
    </table>
  </div>

</div>




<a hx-get="{{ url_for('distribution.confirm_stop_modal') }}"
    hx-target="body"
    hx-swap="beforeend"
    href="{{ url_for('distribution.confirm_stop_modal') }}">
  <button class="button is-small"
        id="stop-distribution-modal"
        >Verteilung stoppen</button>
</a>
{% endblock content%}
