{% from 'macros.html' import distribute_buttons with context %}

<div class="column is-one-quarter station-box"
       id="dist-station-{{station.id}}">
  <div class="box" id="{{station.id}}">

    <input type="checkbox" class="station-is-opted-out-checkbox" hidden />

    <div class="columns">
      <div class="column">
        <div class="is-size-4 is-pulled-right station-box-opt-out" onclick="trigger_station_opt_out(this);" >
          <div style="display:inline;"
            >{{ station.name }}
            <img class="opt-out-icon" width=20 src="{{url_for('static', filename='icons/check.svg')}}" />
            <img class="opt-out-icon expand" width=20 src="{{url_for('static', filename='icons/uncheck.svg')}}" />
          </div>
        </div>
      </div>
    </div>

    {# information about station #}
    {% if unit.by_piece %}
      <div class="columns">
        <div class="column">👥 {{ station.members_full + station.members_half }}</div>
        <div class="column">● {{ station.members_full }}</div>
        <div class="column">◑ {{station.members_half }}</div>
      </div>
    {% endif %}

    <div class="expand has-text-weight-light"
          id="dist-station-full-{{ station.id }}">0</div>

    <div class="expand has-text-weight-light"
          id="dist-station-half-{{ station.id }}">0</div>

    <div class="has-text-weight-medium is-size-1 has-text-grey-darker"
          id="dist-station-total-{{ station.id }}">0</div>

    {# share of a single member #}

    <div class="columns is-multiline">
      <div class="column is-half-desktop is-full-tablet"> {# FULL SHARES #}
        <div class="columns is-multiline">
          <div class="column is-half-desktop is-full-tablet has-text-weight-light">ganze</div>
          <div class="column is-half has-text-weight-medium is-size-5"
               id="dist-station-single-full-{{station.id}}"
               >0</div>
          {% if unit.by_piece %}
            {{ distribute_buttons("full") }}
            {% endif %}
        </div>
      </div>

      <div class="column is-half-desktop is-full-tablet"> {# HALF SHARES #}
        <div class="columns is-multiline">
          <div class="column is-half-desktop is-full-tablet has-text-weight-light">halbe</div>
          <div class="column is-half has-text-weight-medium is-size-5"
               id="dist-station-single-half-{{station.id}}"
               >0</div>
        {% if unit.by_piece %}
            {{ distribute_buttons("half") }}
        {% endif %}
        </div>
      </div>
    </div>

  </div>{# box #}
</div>
