<link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='chartist/chartist.css') }}"
          >
<script src="{{ url_for('static', filename='chartist/chartist.min.js') }}"></script>
<div class="ct-chart ct-major-twelfth" id="stations-chart"></div>
<script>
        var data = {
                labels: {{ chart_data.labels | tojson | safe }},
                series: {{ chart_data.data | tojson | safe }}
        };
        var options = {
                showPoint: false,
                axisY: {showGrid:false, offset:50, onlyInteger: true},
                axisX: {showGrid:false}
        };
        new Chartist.Line('#stations-chart', data, options);
</script>
