{% extends 'modal.html' %}
{% block modal_content %}
  <h3 class="title is-3">{{station.name}}</h3>
  {% if station.updated %}
    <div class="level">
      <div class="level-left">
        <div class="is-size-7 is-italic level-item">zuletzt bearbeitet:</div>
        <div class="is-size-7 is-italic level-item date-time">{{station.updated}}</div>
      </div>
    </div>
  {% endif %}
  <a href="#" id="delete-station-form-expand has-text-centered"
              class="button is-small is-warning is-light"
              onclick="document.querySelector('#delete-station').classList.toggle('expand')
              ">station löschen</a>
  {% set form_action = url_for('stations.delete', station_id=station.id) %}
  <form id="delete-station"
        class="row has-text-centered expand mt-2"
        action = "{{ form_action }}"
        method="POST"
        >
    <button class="button is-warning">station endgültig löschen</button>
  </form>
  <hr class="edit-hr">
  {% set form_action = url_for('stations.edit', stationid=station.id) %}
  {% set form_params = 'id=station-edit-form' %}
  {% include 'stations/form.html' %}
{% endblock modal_content %}
