{% extends 'modal.html' %}
{% block modal_content %}
<h3 class="title is-3">{{station.name}}</h3>
<p class="subtitle">
<small><i>(last edit: {{station.last_edit}})</i></small>

<div>
<hr class="edit-hr">

<form>

<div class="columns is-centered">
 <div class="column is-4 has-text-centered border">
             ●<input class="input"
             id="membfull{{station.id}}"
			 type="number"
			 value="{{ station.members_full }}">
</div>
 <div class="column is-4 has-text-centered">
             ◑<input class="input"
             id="membhalf{{station.id}}"
			 type="number"
			 value="{{ station.members_half }}">
 </div>
</div>

<div class="rows">
  <div class="row">
     <div class="field is-horizontal">
		<label class="label">🛈</label>
	    <div class="control">
	     <input class="input"
			type="text"
			placeholder="infotext"
			id="info{{station.id}}"
			value="{{station.info}}">
		</div>
	</div>
   </div>
  <div class="row">
     <div class="field is-horizontal">
		<label class="label">order</label>
	    <div class="control">
	     <input class="input"
			type="number"
			placeholder="infotext"
			id="order{{station.id}}"
			value="{{station.order}}">
		</div>
	</div>
   </div>
<div class="row">
    <button class="button is-link">💾 save</button>
</div>
</div>

</form>
</div>



{% endblock %}
