{% extends 'modal.html' %}
{% block modal_content %}
<h4 class="title is-4">Neue Station anlegen</h4>

  <form action="{{ url_for('stations.new_station') }}" method="post" class="form">

    {{ form.csrf_token }}

    {{ form.name.label() }}
    {{ form.name }}

    {{ form.info.label() }}
    {{ form.info }}

    {{ form.delivery_order.label() }}
    {{ form.delivery_order }}

    {{ form.members_full.label() }}
    {{ form.members_full }}

    {{ form.members_half.label() }}
    {{ form.members_half }}


    <button class="button is-link" type="submit">Go!</button>
  </form>

{% endblock %}
