{% extends 'base.html' %}


{% block content %}

Stations:
<ul>
  <li>name - voll - halb - total</li>
  {% for station in stations.current %}
  <li>{{ station.name }} - {{ station.members_full }} - {{ station.members_half }} - {{ station.members_full + station.members_half }} </li>
  {% endfor %}
</ul>

Past:
<li>id - voll - halb - total

{% for event in stations.historical %}
  <h3>{{event.date}}</h3>
  <ul>
    {% for station in event.stations %}
    <li>{{station.id}} - {{station.members_full}} - {{ station.members_half }} - {{ station.members_full + station.members_half }}</li>
    {% endfor %}
  </ul>
{% endfor %}
{% endblock %}
