<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{# STYLING #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='style.css') }}"
          >
    <title>
      Möhrenschleuder
    </title>
 </head>

<body>

<div class="container">
 <div class="columns">
  <div class="column is-10 mt-4">

{% with title = "Stationis" %}
  <h2 class="title is-2">{{ title }}</h3>
{% endwith %}

   {% with messages = get_flashed_messages() %}{% if messages %}
      <div class="notification is-danger is-light">
        {{ messages[0] }}
        <button class="delete"></button>
      </div>
     {% endif %}{% endwith %}

{% block content %}{% endblock %}
   </div>

  <div class="column is-2 has-background-info-light">
{% include 'menu.html' %}
  </div>

 </div>

{% include 'footer.html' %}
</div>

{% block scripts %}{% endblock %}
{# BULMA CSS close notifications #}
<script>
document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
</script>



  </body>

<html>
