{% macro product_modal(route, id=None) %}
hx-get="{{ url_for(route, productid=id) }}"
hx-target="body"
hx-swap="beforeend"
{% endmacro %}


{% macro nav_link(endpoint, text) %}
{% if request.endpoint %}
  {% if request.endpoint.endswith(endpoint) %}
      <li><a class="has-background-success-light" href="{{ url_for(endpoint) }}">{{text}}</a></li>
  {% else %}
      <li><a href="{{ url_for(endpoint) }}">{{text}}</a></li>
  {% endif %}
{% else %}
    <li><a href="{{ url_for(endpoint) }}">{{text}}</a></li>
{% endif %}
{% endmacro %}


{% macro number_input(value, label, id) %}
<div>
<input type="number"
       class="input"
       value="{{ value }}"
       id="{{ id }}"
/>
<label for="dist-input-field"
       class="label">{{ label }}</label>
</div>
{% endmacro %}


{% macro modal(url) %}
hx-get="{{url}}"
hx-target="body"
hx-swap="beforeend"
{% endmacro %}


{% macro distribute_buttons(full_or_half) %}
<div class="buttons has-addons">
  <button class="button is-link is-light"
         style="background-color: #d6e0cd;"
         id="dist-button-{{full_or_half}}-add-{{station.id}}"
         onclick="change_station({{station.id}}, type='{{full_or_half}}', x='add')"
         >+</button>
  <button class="button is-link is-light"
         id="dist-button-{{full_or_half}}-remove-{{station.id}}"
         onclick="change_station({{station.id}}, type='{{full_or_half}}', x='remove')"
         >-</button>
</div>
{% endmacro %}
