<aside class="menu">
  <p class="menu-label">
  Menu
  </p>
  <ul class="menu-list">
    <li><a href ="{{ url_for('stations.stations_view') }}"
           {% if title == 'Stationen' %}
                 class="is-active"
                 {% endif %}
                 >Stationen</a>
    </li>
    <li><a href ="{{ url_for('products.products_view') }}"
           {% if title == 'Erzeugnisse' %}
                 class="is-active"
                 {% endif %}
                 >Gemüse</a>
    </li>
    <li><a href ="{{ url_for('history.history_view') }}"
           {% if title == 'History' %}
                 class="is-active"
                 {% endif %}
                 >History</a>
    </li>
    <li><a href ="{{ url_for('settings.settings_view') }}"
           {% if title == 'Einstellungen' %}
                 class="is-active"
                 {% endif %}
                 >Einstellungen</a>
    </li>
  </ul>
  <p class="menu-label">
  <a>Verteilung</a>
  </p>
  <ul class="menu-list">
    <li><a>Möhren 20 Kg.</a></li>
    <li><a>Hibiscus 15 St.</a></li>
    <li><a>Salat 13 Bnd.</a></li>
  </ul>
