<div id="modal"
     _="on closeModal add .closing then wait for animationend then remove me">
  <div class="modal-underlay" _="on click trigger closeModal">
  </div>
  <div class="modal-content">

    <div class="has-text-right">
      <button class="button is-info is-round"
              _="on click trigger closeModal">x</button>
    </div>
    {% block modal_content %}{% endblock %}
  </div>
</div>
<script>
  moment.locale("de")

  fields = document.getElementsByClassName("date-time")

  for (let field of fields) {

    value = field.textContent
    value_new = moment(value).format("LLL")
    field.textContent = value_new
  }
</script>
