{% extends 'modal.html' %}
{% block modal_content %}
<h3 class="title is-3">{{product.name}}</h3>
<p class="subtitle">
  {% if product.updated %}
    <small><i>(last edit: {{product.updated}})</i></small>
  {% endif %}
  {% if product.created %}
    <small><i>(created at: {{product.created}})</i></small>
  {% endif %}
<hr class="edit-hr">
<form action="{{ url_for('products.edit_view', productid=product.id) }}"
      method="post"
      id="product-edit-form"
      class="form">
  {% include 'products/form.html' %}
</form>
{% endblock %}
