{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='assets/jquery.dataTables.css') }}">
{% endblock %}
{% block content %}

<div class="level">
<div class="level-left"></div>
 <div class="level-right">
  <div class="button is-link">neues produkt</div>
</div>
</div>

 {# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - RECENTLY USED PRODUCTS #}
<div class="columns is-multiline is-centered recent-distribution" id="recent-distribution">
  <div class="column is-12">recently used products</div>
    {% for product in recent_products %}
    <div class="column" id="{{product.order}}">
     <div class="box ms-box">

     <div class="columns">
             <div class="column has-text-weight-medium has-text-dark"
                  id="product{{product.id}}">
           {{ product.name }}
       </div>
       <div class="column is-2 ms-product-edit"><a class="" onClick="expand('expand-recent-product{{product.id}}')">🖉</a>
       </div>
     </div>
     {# Hidden ELement for Editing #}
     <div class="expand" id="expand-recent-product{{product.id}}">
     <hr class="edit-hr">
      * {{ product.unit }}
      * {{ product }}
     </div>
    </div>
    </div>
{% endfor %}
</div>

 {# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ALL PRODUCTS #}
<table class="table is-hoverable is-fullwidth"
       id="all-products-table">
 <thead>
  <tr>
   <th class="hover">Name</th>
   <th class="hover">Einheit</th>
   <th class="hover">Zuletzt verteilt</th>
   <th class="hover">Info</th>
  </tr>
 </thead>
 <tfoot>
  <tr>
   <th class="hover">Name</th>
   <th class="hover">Einheit</th>
   <th class="hover">Zuletzt verteilt</th>
   <th class="hover">Info</th>
  </tr>
 </tfoot>

 <tbody id=item-table-body>
{% for product in products %}

  <tr>
   <td> {{ product.name }} </td>
   <td> {{ product.unit }} </td>
   <td> {{ product.recent_distribution }} </td>
   <td> {{ product.info }} </td>
  </tr>

{% endfor %}
 </tbody>
</table>
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='assets/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" charset="utf8"
        src="{{ url_for('static', filename='assets/jquery.dataTables.js') }}"></script>
<script>
 $(document).ready(function() {
    $('#all-products-table').DataTable({
        paging: false,
        responsive: true,
        columns: [
        null,
        null,
        null,
        null,
        ]
    });
  });
</script>
{% endblock %}
