{% extends 'base.html' %}

{% block scripts %}
<script src="{{ url_for('static', filename='assets/chart.min.js') }}"></script>
<script>
  {% include 'history/charts/stations.js' %}
</script>
{% endblock scripts %}

{% block content %}

<div class="columns is-multiline is-centered">
  <div class="column is-full has-text-centered">
    Mitgliederanzahl der Stationen im Verlauf
    <p class="is-size-7 is-italic">Mitglieder, nicht anteile</p>
  </div>

  <div class="column is-8 has-text-centered">
    <canvas id="station-chart"></canvas>
  </div>
</div>
{% endblock content %}
