{# for printing PDF #}
<style>html{background-color:#FFFFFF}</style>

<div class="rows has-text-black">
  <div class="row">
    <div class="columns">
      <div class="column is-3 is-pulled-left">
        <div class="has-text-weight-semi-bold is-size-3">{{ station.name }}</div>
        {% if pdf %}
          <div class="row has-text-weight-light">{{ station.distribution.date_time.strftime("%-d.%m.%Y, %H:%M") }}</div>
        {% else %}
          <div class="row has-text-weight-light date-time">{{ station.distribution.date_time }}</div>
        {% endif %}
      </div>
      <div class="column is-3 is-pulled-right">
      {% if pdf %}
        <div class="is-size-4">
         LOGO
        </div>
        <div>{{ csa.name }}</div>
      {% endif %}
      </div>
    </div>
  </div>

  <div class="row has-background-white">
    <table class="table is-fullwidth has-background-white">
      <thead>
        <td>Erzeugniss</td>
        <td>Einheit</td>
        <td>Ganzer Anteil</td>
        <td>Halber Anteil</td>
      </thead>
      <tbody class="has-background-white">
      {% for share in shares %}
        {% if share.unit.by_piece %}
          {% set full = share.single_full|int %}
          {% set half = share.single_half|int %}
        {% else %}
          {% set full = share.single_full|round(precision=3, method='floor') %}
          {% set half = share.single_half|round(precision=3, method='floor') %}
        {% endif %}

        {% if full == 0 and half == 0 %}{% continue %}{% endif %}
        <tr>
          <td>{{ share.product.name }}</td>
          <td>{{ share.unit.longname }}</td>
          <td>{% if full %}{{ full }}{% else %}/{% endif %}</td>
          <td>{% if half %}{{ half }}{% else %}/{% endif %}</td>
        </tr>
        {% if share.information %}
        <tr>
          <td colspan=4><p class="ml-5 is-size-6 is-italic">↪ {{ share.information }}</p></td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>

  <hr>

  {% if station.distribution.information %}
  <div class="row">
    <p class="has-text-centered">Info</p>
    <p class="is-size-6 has-text-centered is-italic">{{ station.distribution.information }}</p>
  </div>
  {% endif %}

  <div class="row mt-5">
        {{ station.members_total }} Mitglieder in dieser Station, davon {{ station.members_full }} Ganze und {{ station.members_half }} Halbe.
  </div>

  {% if pdf %}
  <div class="row mt-5 has-text-right is-italic">
    {{ csa.footer }}
  </div>
  {% endif %}

</div>
